$h1FontSize: 48.83px;
$h2FontSize: 39.06px;
$h3FontSize: 31.25px;
$h4FontSize: 25px;
$h5FontSize: 20px;
$bodyFontSize: 16px;
$body2FontSize: 12.8px;
$captionFontSize: 10.24px;
$caption2FontSize: 8.19px;
$defaultFontFamily: "Montserrat";
